# ignore everything
*

# include
!.gitignore
!README.md

!0-Core-Knowledge/
!0-Core-Knowledge/1-*
!0-Core-Knowledge/2-*

!1-Network-Discovery/
!1-Network-Discovery/1-*

!2-Password-Attack/
!2-Password-Attack/1-*
!2-Password-Attack/2-*
!2-Password-Attack/3-*
!2-Password-Attack/4-*

!3-Denial-of-Service/
!3-Denial-of-Service/1-*
!3-Denial-of-Service/2-*


!4-Exploitation/
!4-Exploitation/1-*
!4-Exploitation/2-*

!5-Session-Hijacking/
!5-Session-Hijacking/1-*

!6-Database-Attack/
!6-Database-Attack/1-*

!7-Firewall/
!7-Firewall/1-*

!Book-Questions/
!Book-Questions/**
