# ignore everything
*

# include
!.gitignore
!README.md

!0-Core-Knowledge/
!0-Core-Knowledge/1-*
!0-Core-Knowledge/2-*

!1-Network-Discovery/
!1-Network-Discovery/1-*

!2-Password-Attack/
!2-Password-Attack/1-*
!2-Password-Attack/2-*
!2-Password-Attack/3-*
!2-Password-Attack/4-*

!3-Denial-of-Service/
!3-Denial-of-Service/1-DoS-[hping3].md
!3-Denial-of-Service/2-DoS-[metasploit].md


!4-Exploitation/
!4-Exploitation/1-Backdoor-[metasploit].md
!4-Exploitation/2-Post-Exploitation-[metasploit].md

!5-Session-Hijacking/
!5-Session-Hijacking/1-Man-in-the-Middle-[bettercap].md

!6-Database-Attack/
!6-Database-Attack/1-SQL-Injection-[sqlmap].md

!7-Firewall/
!7-Firewall/1-Basic-Firewall-[ufw].md

!Book-Questions/
!Book-Questions/**
